APP_PORT=8085
APP_NAME=recommend-service
EUREKA_SERVER_URL=http://localhost:8761/eureka
EUREKA_INSTANCE_HOST=localhost
JWT_ISSUER_URI=http://localhost:8080
JWK_SET_URI=http://localhost:9000/oauth2/jwks
ENROLLMENT_SERVICE_URL=http://localhost:8083
COURSE_SERVICE_URL=http://localhost:8082
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=recommend-service
KAFKA_TOPIC_ENROLLMENT_COMPLETED=enrollment.completed
